{{ extend 'layout.html' }}

<section id="carrinho">
    <table border="0" width="100%" style="text-align: center">
        <thead>
            <tr>
                <th>Código</th>
                <th>Imagem</th>
                <th>Produto nome</th>
                <th width="200">Quantidade</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>X</td>
                <td>Imagem</td>
                <td>Produto 1</td>
                <td>1</td>
                <td width="150">R$ 450.00</td>
            </tr>
        </tbody>
        <tfoot>
            <tr style="color: red;">
                <td colspan="4" align="right"><strong>Total</strong></td>
                <td><strong>R$ 200,00</strong></td>
            </tr>
        </tfoot>

    </table>
</section>