{{ extend 'layout.html' }}

<div class="d-center">
    <div id="formularioContato">
        <h1>Formulário de contato</h1>
        <form action="" method="POST">
            <label for="nome">Nome<span>*</span></label><br />
            <input type="text" name="nome" /><br /><br />

            <label for="email">Email<span>*</span></label><br />
            <input type="email" name="email" /><br /><br />

            <label for="assunto">Assunto<span>*</span> </label><br />
            <input type="text" name="assunto" /><br /><br />

            <label for="mensagem">Sua Mensagem<span>*</span></label><br />
            <textarea name="mensagem" rows="8"></textarea><br />

            <input type="submit" value="Enviar mensagem" />
        </form>
    </div>
</div>