{{extend 'layout.html'}}

<div class="d-center">
    <div class="row">
        {{for produto in produtos:}}
            <a href="{{=URL(f='produto',args=[produto.id])}}">
                <div class="produto">
                    {{if produto.imagem != None:}}
                    <img src="{{=URL('default', 'download', args=produto.imagem)}}" height="200" /><br />
                    {{ else:}}
                    <img src="https://www.workman.com/assets/images/product-default.png" height="200" /><br />
                    {{pass}}
                    <strong>{{=produto.nome}}</strong><br />
                    R$ {{=produto.preco}} <br />
                </div>
            </a>
        {{pass}}

    </div>
</div>