{{ extend 'layout.html' }}

<section id="carrinho">
    <div class="container">
        <div class="row">
        {{ if len(session.carrinho) > 0: }}
            <div class="col-12">
                <h1>Carrinho: <small>{{=len(session.carrinho)}} Itens</small></h1>
            </div>
            <div class="col-12 table-responsive-sm">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Código</th>
                            <th>Imagem</th>
                            <th>Nome</th>
                            <th width="200">Quantidade</th>
                            <th>Preço</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{total_preco = 0}}
                        {{ for item in session.carrinho: }}
                        <tr>
                            <td>{{=item.id}}</td>
                            <td>
                                {{ if item.imagem == None: }}
                                <img src="https://www.workman.com/assets/images/product-default.png" height="80" />
                                {{ else: }}
                                <img src="{{=URL('default', 'download', args=item.imagem)}}" height="80"/></td>
                                {{ pass }}
                            <td>{{=item.nome}}</td>
                            <td>1</td>
                            <td width="150">{{=format_decimal(float(item.preco))}}</td>
                            <td><a href="{{=URL('remover/{id}'.format(id=item.id))}}" title="Remover item do carrinho">Remover</a></td>
                        </tr>
                            {{total_preco += float(item.preco) }}
                        {{pass}}
                    </tbody>
                    <tfoot class="thead-dark text-danger">
                        <tr>
                            <td colspan="5" class="text-right"><strong>Total</strong></td>
                            <td><strong>{{=format_decimal(total_preco)}}</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-12 mb-4 d-flex justify-content-end">
                <form class="form-inline" action="/action_page.php">
                    <input type="tel" class="form-control mr-1" id="cep" placeholder="00000111" />
                    <button type="submit" class="btn btn-primary">Calcular frete</button>
                </form>
            </div>
            <!-- Button finalizar pedido -->
            <div class="col-12 d-flex justify-content-end">
                <a href="#" class="btn btn-lg btn-success ">Finalizar pedido</a>
            </div>
            <!-- End .\ Button finalizar pedido -->
        {{ else: }}
            <!-- Carrinho vazio -->
            <div class="col-12 text-center">
                 <img src="http://www.gcolor.com.br/public/img/carrinho-vazio.jpg" />
            </div>
            <!-- End .\ Carrinho vazio
        {{ pass }}
    </div>
</section>