{{ extend 'layout.html' }}

{{ if len(session.carrinho) > 0: }}
    <section id="carrinho">
        <h1>Carrinho: <small>{{=len(session.carrinho)}} Itens</small></h1>
        <table border="0" width="100%" style="text-align: center">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th width="200">Quantidade</th>
                    <th>Preço</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {{total_preco = 0}}
                {{ for item in session.carrinho: }}
                <tr>
                    <td>{{=item.id}}</td>
                    <td>
                        {{ if item.imagem == None: }}
                        <img src="https://www.workman.com/assets/images/product-default.png" height="80" />
                        {{ else: }}
                        <img src="{{=URL('default', 'download', args=item.imagem)}}" height="80"/></td>
                        {{ pass }}
                    <td>{{=item.nome}}</td>
                    <td>1</td>
                    <td width="150">{{=format_decimal(float(item.preco))}}</td>
                    <td><a href="{{=URL('remover/{id}'.format(id=item.id))}}" title="Remover item do carrinho">Remover</a></td>
                </tr>
                    {{total_preco += float(item.preco) }}
                {{pass}}
            </tbody>
            <tfoot>
                <tr style="color: red;">
                    <td colspan="4" align="right"><strong>Total</strong></td>
                    <td><strong>{{=format_decimal(total_preco)}}</strong></td>
                </tr>
            </tfoot>

        </table>
    </section>
{{ else: }}
    <p align="center"><img src="http://www.gcolor.com.br/public/img/carrinho-vazio.jpg" /></p>
{{ pass }}