body {
   margin: 0;
   font-family: arial;
}

#topo {
    height: 100px;
    background-color: #EEE;
}

#menu {
    height: 50px;
    background-color: #DDD;
}
#menu a {
    color: #000;
}
#menu ul {
    margin: 0;
    padding: 0;
}
#menu ul li {
    list-style: none;
    float: left;
    height: 50px;
    padding: 0 10px;
    line-height: 50px;
    text-transform: uppercase;
}
#menu ul li:hover {
    cursor: pointer;
    background-color: #CCC;
}
main {
    min-height: 300px;
}
#rodape {
    height: 80px;
    background-color: #ddd;
}
.container {
    width: 100%;
    max-width: 1200px;
    background-color: #ddd;
    margin: auto;
}
