* { box-sizing: border-box; }
body {
   margin: 0;
   font-family: arial;
}

#topo {
    height: 130px;
    background-color: #FFF;
    text-align: center;
    padding: 10px;
}

#menu {
    height: 50px;
    background-color: #DDD;
}
#menu a {
    color: #000;
}
#menu ul {
    margin: 0;
    padding: 0;
}
#menu ul li {
    list-style: none;
    float: left;
    height: 50px;
    padding: 0 10px;
    line-height: 50px;
    text-transform: uppercase;
}
#menu ul li:hover {
    cursor: pointer;
    background-color: #CCC;
}

#menu .active {
    background: #c1c1c1;
}
main {
    min-height: 300px;
    height: auto;
    padding: 20px;
}
#rodape {
    height: 80px;
    background-color: #ddd;
    text-align: center;
    line-height: 80px;
}
.container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
   // background-color: #ddd;
    margin: auto;
    padding: 0 20px;
    margin-bottom: 20px;

}

.produto {
    width: 270px;
    height: auto;
    background-color: #EEE;
    border: 1px solid #ccc;
    float: left;
    margin: 10px;
    text-align: center;
    padding: 10px;
}
.produto:hover {
    border: 1px solid #777;
}

.produto_info {
    display: flex;
}

.produto_info .descricao {
    padding-left: 10px;
}

.d-center {
  display: flex;
  justify-content: center;
}
/* PAGE CONTATO */
#formularioContato {
    width: 80%;
    font-size: 20px;
}
#formularioContato span {
    font-weight: bold;
    color: red;
}
#formularioContato input, #formularioContato textarea {
    width: 100%;
    padding: 5px;
    height: 40px;
}
#formularioContato textarea {
    height: 200px;
}
#formularioContato input[type=submit] {
    width: 200px;
    margin-top: 7px;
}

/* PAGE EMPRESA */

#empresa p {
    text-align: justify;
    text-justify: inter-word;
}



/* PAGE CARRINHO */
#carrinho table {
    font-size: 18px;
}
#carrinho thead {
    background: #EEE;

}
#carrinho thead td {
    padding: 10px;
}