{{ extend 'layout_painel.html' }}

<div class="card-deck">
    <div class="card light">
        <div class="card-body text-center">
             <h4 class="card-title">{{=vendas}}</h4>
            <p class="card-text">Vendas</p>
        </div>
    </div>
    <div class="card light">
        <div class="card-body text-center">
             <h4 class="card-title">{{=produtos}}</h4>
            <p class="card-text">Produtos</p>
        </div>
    </div>
    <div class="card light">
        <div class="card-body text-center">
             <h4 class="card-title">{{=clientes}}</h4>
            <p class="card-text">Clientes</p>
        </div>
    </div>
    <div class="card light">
        <div class="card-body text-center">
             <h4 class="card-title">{{=funcionarios}}</h4>
            <p class="card-text">Vendedores</p>
        </div>
    </div>
</div>